body {
  background: gray;
}

#game-box {
  margin: 0 auto;
  border: 3px solid purple;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}

.line {
  display: flex;
}

.btn {
  font-size: 100px;
  width: 150px;
  height: 150px;
  border: 2px solid purple;
}

.btn:hover {
  background: darkgray;
}

#btn-restart {
  margin: 20px 0px 10px 0px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid purple;
}

#btn-restart:hover {
  background: darkgray;
}